[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/NVRHI"]
	path = External/NVRHI
	url = https://github.com/NVIDIA-RTX/NVRHI.git
