[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/raylib"]
	path = External/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
