[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/--force"]
	path = External/--force
	url = https://github.com/NVIDIA-RTX/NVRHI.git
